* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 16px;
  padding: 1rem;
}

.leo {
  position: absolute;
  left: 80px;
  top: 20px;
  font-family: arial,sans-serif;
  color: #333;
  font-size: 32px;
}

.rat{ 
  color: white;
  font-size: 14px;
}

.login-container {
  background-color: white;
  padding: 180px 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  font-family: arial,sans-serif;
  width: 500px;
}

.login-container h2 {
  text-align: center;
  font-family: arial,sans-serif;
  margin-bottom: 20px;
  color: #333;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
 background: linear-gradient(to right, #6a11cb, #2575fc);
}

.copyright-box {
  padding: 1rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  color: #333;
  position: absolute;
  bottom: 30px;
  right: 1px;
}

/* P.S. message style */
.notice {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.notice .highlight {
  color: #000;         /* white text may not show if bg is white, change to black */
  font-weight: bold;
}

/* Copyright line */
.copyright {
  font-weight: bold;
  color: #555;
  font-size: 13px;
}

@media (min-width: 992px) {
  
body {
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 16px;
  padding: 1rem;
}

.leo {
  position: absolute;
  left: 80px;
  top: 20px;
  font-family: arial,sans-serif;
  color: #333;
  font-size: 32px;
}

.rat{ 
  color: white;
  font-size: 14px;
}

.login-container {
  background-color: white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  font-family: arial,sans-serif;
  width: 300px;
}

.login-container h2 {
  text-align: center;
  font-family: arial,sans-serif;
  margin-bottom: 20px;
  color: #333;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
 background: linear-gradient(to right, #6a11cb, #2575fc);
}

.copyright-box {
  padding: 1rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  color: #333;
  position: absolute;
  bottom: 1px;
  right: 1px;
}

/* P.S. message style */
.notice {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.notice .highlight {
  color: #000;         /* white text may not show if bg is white, change to black */
  font-weight: bold;
}

/* Copyright line */
.copyright {
  font-weight: bold;
  color: #555;
  font-size: 13px;
}
}